In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Metallica Lyrics.csv")

     Unnamed: 0                                             lyrics     Artist
0             0   Late at night all systems go  You have come t...  Metallica
1             1   Halls of justice, painted green  Money talkin...  Metallica
2             2   Yeah, I'm gonna make you, shake you, take you...  Metallica
3             3   Outta my way  Outta my day  Out of your mind ...  Metallica
4             4   ,  ,   Luck  Runs  Out  Crawl from the wrecka...  Metallica
..          ...                                                ...        ...
121         145   Feel so good, I feel so fine  Love that littl...  Metallica
122         146    I'm your life  I'm the one who takes you the...  Metallica
123         147   Welcome to where time stands still  No one le...  Metallica
124         148   Fell no pain, but my life ain't easy  i know ...  Metallica
125         149   ,  We are scanning the scene in the city toni...  Metallica

[126 rows x 3 columns]

In [4]:
met = pd.read_csv("Metallica Lyrics.csv")

In [5]:
met

     Unnamed: 0                                             lyrics     Artist
0             0   Late at night all systems go  You have come t...  Metallica
1             1   Halls of justice, painted green  Money talkin...  Metallica
2             2   Yeah, I'm gonna make you, shake you, take you...  Metallica
3             3   Outta my way  Outta my day  Out of your mind ...  Metallica
4             4   ,  ,   Luck  Runs  Out  Crawl from the wrecka...  Metallica
..          ...                                                ...        ...
121         145   Feel so good, I feel so fine  Love that littl...  Metallica
122         146    I'm your life  I'm the one who takes you the...  Metallica
123         147   Welcome to where time stands still  No one le...  Metallica
124         148   Fell no pain, but my life ain't easy  i know ...  Metallica
125         149   ,  We are scanning the scene in the city toni...  Metallica

[126 rows x 3 columns]

In [6]:
df[ ~df["lyrics"].str.contains("instrumental"|"Instrumental")]

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [8]:
pd.read_csv("d Lyrics.csv")

   Unnamed: 0                                             lyrics Artist
0           1                                                NaN      d
1           2   I broke my bones  Playing games with you  Thi...      d